.scrolled .logo_white,
.logo_red{
display:none;
}
.scrolled .logo_red{
display:block;
}
.header, init {padding:0px 0.9375rem 0px 0.9375rem!important;  background:none; transition: all 0.3s ease 0s; opacity:0.85;}
.scrolled {padding:0px 0px 0px 0px!important; background:#FFFFFF; opacity:1.0;border-bottom: 1px solid #dadada;}

#menu-side{}
.init .menu-icon { padding:1.1rem 1.2rem !important; background:#FFFFFF; color:#B30B30;}
.init .menu-contact { padding: 16px 10px;padding-right: 23px;color: #FFFFFF;margin-top: 8px;}
.init .menu-search { padding: 14px 10px;color: #FFFFFF;margin-top: 8px;}
.init .menu-login { padding: 16px 10px;height: 4.0rem;font-size: 1.3rem;font-weight: bold;color: #FFFFFF;}



.scrolled .log-menu {
    float: right;
    list-style: outside none none !important;
    margin-right: 20px;
    margin-top: 18px !important;
}


.scrolled .menu-icon { padding:16px 1.0rem; background:#B30B30; color:#FFFFFF;}
.scrolled .menu-contact {    padding: 16px 10px;padding-right: 23px;color: #002b5c;}
.scrolled .menu-search { padding: 1.0rem 10px;color: #002b5c;}
.scrolled .menu-login {  padding: 1.0rem 10px;height: 4.0rem;font-size: 1.5rem;font-weight: bold;color: #002b5c;}


/* X SMALL - XS devices */
@media (min-width: 1em) {
.header .logo {height:30px;}
#sidebar-wrapper {width: 50%;  margin-right: -50%;}
#sidebar-wrapper.active {width: 50%;  margin-right:0;}
}
/* SMALL DEVICES - SM (landscape phones, 34em and up) */
@media (min-width: 34em) {
.header .logo {height:39px;}
#sidebar-wrapper {width: 40%;  margin-right: -40%;}
#sidebar-wrapper.active {width: 40%;  margin-right:0;}
}
/* MEDIUM DEVICES - MD (tablets, 48em and up) */
@media (min-width: 48em) {
.header .logo {height:39px;}
#sidebar-wrapper {width: 33%;  margin-right: -33%;}
#sidebar-wrapper.active {width: 33%;  margin-right:0;}
}
/* LARGE DEVICES - LG (desktops, 62em and up) */
@media (min-width: 62em) {
.header .logo {height:46px;}
#sidebar-wrapper {width: 25%;  margin-right: -25%;}
#sidebar-wrapper.active {width: 25%;  margin-right:0;}
}
/* EXTRA LARGE DEVICES - LG (large desktops, 75em and up) */
@media (min-width: 75em) {
.header .logo {height:46px;}
#sidebar-wrapper {width: 25%;  margin-right:-25%;}
#sidebar-wrapper.active {width:25%;  margin-right:0;}
}


#sidebar-wrapper {
z-index: 998; position: fixed; right: 0; height: 100%; overflow-y: auto; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s;
}
.active {
-webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s;
}
.sidebar-nav {top: 0; margin: 0; padding:0; list-style: none;}
.sidebar-nav li {float:left; width:100%;}
.sidebar-nav li a {display: block; text-decoration: none; color:#FFFFFF; font-size:1.4em; padding:0.5rem;
border-bottom:1px dotted #FFFFFF;
}
.sidebar-nav li a::before {  content: " ";}
.sidebar-nav li a:hover {text-decoration: none; color: #FFFFFF; background:#002b5c;}
.sidebar-nav li a:active, .sidebar-nav li a:focus {text-decoration: none;}
